    <!-- Footer -->
    <footer>
        <nav class = "navbar fixed-bottom navbar-dark bg-dark">
          <h6 class="navbar-text">&copy; Mason Tran  ,  Copyright 2024.</h6>
          <h6 class="navbar-text"> <a href="https://github.com/MasonT2005" target="_blank" title="Go to website">My GitHub</a></h6>
          <h6 class="navbar-text"> <a href="https://www.linkedin.com/in/mason-tran-a12401291/" target="_blank" title="Go to website">My linkedIn</a></h6>
        </nav>
        </footer>
      </body>
    </html>

    